{% extends "base.html" %}

{% block content %}
<h1>Scores</h1>
<p>Highest: {{ score_data.scores["highest"] }}</p>
<p>Latest: {{ score_data.scores["latest"] }}</p>
<h3>History</h3>
<a href="/score-sorted">See scores sorted</a>
<table>
    <tr>
        <th>Date</th>
        <th>Score</th>
    </tr>
    {% for date in score_data.scores["scores"] %}
    <tr>
        <td>{{ date.split()[0] }}</td>
        <td>{{ score_data.scores["scores"][date] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}